BYTES.NET.SAMPLE/bin/
BYTES.NET.SAMPLE/obj/Debug/Views/Imaging/ImagingSampleView.g.i.vb
BYTES.NET.SAMPLE/obj/Debug/Views/IO/UNCSampleView.g.vb
BYTES.NET.SAMPLE/obj/Debug/Views/IO/UNCSampleView.g.i.vb
BYTES.NET.SAMPLE/obj/Debug/Views/IO/TCPSampleView.g.vb
BYTES.NET.SAMPLE/obj/Debug/Views/IO/TCPSampleView.g.i.vb
BYTES.NET.SAMPLE/obj/Debug/Views/IO/LocalHostSampleView.g.vb
BYTES.NET.SAMPLE/obj/Debug/Views/IO/LocalHostSampleView.g.i.vb
BYTES.NET.SAMPLE/obj/Debug/Views/IO/LDAPSampleView.g.vb
BYTES.NET.SAMPLE/obj/Debug/Views/IO/LDAPSampleView.g.i.vb
BYTES.NET.SAMPLE/obj/Debug/Views/IO/HTTPSampleView.g.vb
BYTES.NET.SAMPLE/obj/Debug/Views/IO/HTTPSampleView.g.i.vb
BYTES.NET.SAMPLE/obj/Debug/Views/IO/FTPSampleView.g.vb
BYTES.NET.SAMPLE/obj/Debug/Views/IO/FTPSampleView.g.i.vb
BYTES.NET.SAMPLE/obj/Debug/Views/Collections/MSSQL/MSSQLServerSampleView.g.vb
BYTES.NET.SAMPLE/obj/Debug/Views/Collections/MSSQL/MSSQLServerSampleView.g.i.vb
BYTES.NET.SAMPLE/obj/Debug/Views/Collections/MSAccess/MSAccessSampleView.g.vb
BYTES.NET.SAMPLE/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
BYTES.NET.SAMPLE/obj/Debug/GeneratedInternalTypeHelper.g.vb
BYTES.NET.SAMPLE/obj/Debug/GeneratedInternalTypeHelper.g.i.vb
BYTES.NET.SAMPLE/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BYTES.NET.SAMPLE/obj/Debug/BYTES.NET.SAMPLE_MarkupCompile.lref
BYTES.NET.SAMPLE/obj/Release/BYTES.NET.SAMPLE.g.resources
BYTES.NET.SAMPLE/obj/Release/BYTES.NET.SAMPLE.exe
BYTES.NET.SAMPLE/obj/Release/BYTES.NET.SAMPLE.Resources.resources
BYTES.NET.SAMPLE/obj/Release/Application.g.vb
BYTES.NET.SAMPLE/obj/Release/Application.g.i.vb
BYTES.NET.SAMPLE/obj/Debug/Views/MainView.g.vb
BYTES.NET.SAMPLE/obj/Debug/Views/MainView.g.i.vb
BYTES.NET.SAMPLE/obj/Debug/Views/MVVM/MVVMSampleView.g.vb
BYTES.NET.SAMPLE/obj/Debug/Views/MVVM/MVVMSampleView.g.i.vb
BYTES.NET.SAMPLE/obj/Debug/Views/MVVM/DialogView.g.vb
BYTES.NET.SAMPLE/obj/Debug/Views/MVVM/DialogView.g.i.vb
BYTES.NET.SAMPLE/obj/Debug/Views/MEF/MEFSampleView.g.vb
BYTES.NET.SAMPLE/obj/Debug/Views/MEF/MEFSampleView.g.i.vb
BYTES.NET.SAMPLE/obj/Debug/Views/Logging/LogSampleView.g.vb
BYTES.NET.SAMPLE/obj/Debug/Views/Logging/LogSampleView.g.i.vb
BYTES.NET.SAMPLE/obj/Debug/Views/Imaging/ImagingSampleView.g.vb
BYTES.NET.SAMPLE/obj/Debug/BYTES.NET.SAMPLE_MarkupCompile.i.cache
BYTES.NET.SAMPLE/obj/Debug/BYTES.NET.SAMPLE_MarkupCompile.cache
BYTES.NET.SAMPLE/obj/Debug/BYTES.NET.SAMPLE.xml
BYTES.NET.SAMPLE/obj/Debug/BYTES.NET.SAMPLE.vbprojAssemblyReference.cache
BYTES.NET.SAMPLE/obj/Debug/BYTES.NET.SAMPLE.vbproj.GenerateResource.cache
BYTES.NET.SAMPLE/obj/Debug/BYTES.NET.SAMPLE.vbproj.FileListAbsolute.txt
BYTES.NET.SAMPLE/obj/Debug/BYTES.NET.SAMPLE.vbproj.CopyComplete
BYTES.NET.SAMPLE/obj/Debug/BYTES.NET.SAMPLE.pdb
BYTES.NET.SAMPLE/obj/Debug/BYTES.NET.SAMPLE.g.resources
BYTES.NET.SAMPLE/obj/Debug/BYTES.NET.SAMPLE.exe
BYTES.NET.SAMPLE/obj/Debug/BYTES.NET.SAMPLE.Resources.resources
BYTES.NET.SAMPLE/obj/Debug/Application.g.vb
BYTES.NET.SAMPLE/obj/Debug/Application.g.i.vb
BYTES.NET.SAMPLE/obj/Release/Views/MainView.g.vb
BYTES.NET.SAMPLE/obj/Release/Views/MainView.g.i.vb
BYTES.NET.SAMPLE/obj/Release/Views/MainView.baml
BYTES.NET.SAMPLE/obj/Release/Views/MVVM/MVVMSampleView.g.vb
BYTES.NET.SAMPLE/obj/Release/Views/MVVM/MVVMSampleView.g.i.vb
BYTES.NET.SAMPLE/obj/Release/Views/MVVM/MVVMSampleView.baml
BYTES.NET.SAMPLE/obj/Release/Views/MVVM/DialogView.g.vb
BYTES.NET.SAMPLE/obj/Release/Views/MVVM/DialogView.g.i.vb
BYTES.NET.SAMPLE/obj/Release/Views/MVVM/DialogView.baml
BYTES.NET.SAMPLE/obj/Release/Views/MEF/MEFSampleView.g.vb
BYTES.NET.SAMPLE/obj/Release/Views/MEF/MEFSampleView.g.i.vb
BYTES.NET.SAMPLE/obj/Release/Views/MEF/MEFSampleView.baml
BYTES.NET.SAMPLE/obj/Release/Views/Logging/LogSampleView.g.vb
BYTES.NET.SAMPLE/obj/Release/Views/Logging/LogSampleView.g.i.vb
BYTES.NET.SAMPLE/obj/Release/Views/Logging/LogSampleView.baml
BYTES.NET.SAMPLE/obj/Release/Views/Imaging/ImagingSampleView.g.vb
BYTES.NET.SAMPLE/obj/Release/Views/Imaging/ImagingSampleView.g.i.vb
BYTES.NET.SAMPLE/obj/Release/Views/Imaging/ImagingSampleView.baml
BYTES.NET.SAMPLE/obj/Release/Views/IO/UNCSampleView.g.vb
BYTES.NET.SAMPLE/obj/Release/Views/IO/UNCSampleView.g.i.vb
BYTES.NET.SAMPLE/obj/Release/Views/IO/UNCSampleView.baml
BYTES.NET.SAMPLE/obj/Release/Views/Collections/MSAccess/MSAccessSampleView.g.i.vb
BYTES.NET.SAMPLE/obj/Release/Views/Collections/MSAccess/MSAccessSampleView.baml
BYTES.NET.SAMPLE/obj/Release/TempPE/My Project.Resources.Designer.vb.dll
BYTES.NET.SAMPLE/obj/Release/GeneratedInternalTypeHelper.g.vb
BYTES.NET.SAMPLE/obj/Release/GeneratedInternalTypeHelper.g.i.vb
BYTES.NET.SAMPLE/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
BYTES.NET.SAMPLE/obj/Release/BYTES.NET.SAMPLE_MarkupCompile.lref
BYTES.NET.SAMPLE/obj/Release/BYTES.NET.SAMPLE_MarkupCompile.i.lref
BYTES.NET.SAMPLE/obj/Release/BYTES.NET.SAMPLE_MarkupCompile.i.cache
BYTES.NET.SAMPLE/obj/Release/BYTES.NET.SAMPLE_MarkupCompile.cache
BYTES.NET.SAMPLE/obj/Release/BYTES.NET.SAMPLE.xml
BYTES.NET.SAMPLE/obj/Release/BYTES.NET.SAMPLE.vbprojAssemblyReference.cache
BYTES.NET.SAMPLE/obj/Release/BYTES.NET.SAMPLE.vbproj.GenerateResource.cache
BYTES.NET.SAMPLE/obj/Release/BYTES.NET.SAMPLE.vbproj.FileListAbsolute.txt
BYTES.NET.SAMPLE/obj/Release/BYTES.NET.SAMPLE.vbproj.CopyComplete
BYTES.NET.SAMPLE/obj/Release/BYTES.NET.SAMPLE.pdb
BYTES.NET.SAMPLE/obj/Release/Views/IO/TCPSampleView.g.vb
BYTES.NET.SAMPLE/obj/Release/Views/IO/TCPSampleView.g.i.vb
BYTES.NET.SAMPLE/obj/Release/Views/IO/TCPSampleView.baml
BYTES.NET.SAMPLE/obj/Release/Views/IO/LocalHostSampleView.g.vb
BYTES.NET.SAMPLE/obj/Release/Views/IO/LocalHostSampleView.g.i.vb
BYTES.NET.SAMPLE/obj/Release/Views/IO/LocalHostSampleView.baml
BYTES.NET.SAMPLE/obj/Release/Views/IO/LDAPSampleView.g.vb
BYTES.NET.SAMPLE/obj/Release/Views/IO/LDAPSampleView.g.i.vb
BYTES.NET.SAMPLE/obj/Release/Views/IO/LDAPSampleView.baml
BYTES.NET.SAMPLE/obj/Release/Views/IO/HTTPSampleView.g.vb
BYTES.NET.SAMPLE/obj/Release/Views/IO/HTTPSampleView.g.i.vb
BYTES.NET.SAMPLE/obj/Release/Views/IO/HTTPSampleView.baml
BYTES.NET.SAMPLE/obj/Release/Views/IO/FTPSampleView.g.vb
BYTES.NET.SAMPLE/obj/Release/Views/IO/FTPSampleView.g.i.vb
BYTES.NET.SAMPLE/obj/Release/Views/IO/FTPSampleView.baml
BYTES.NET.SAMPLE/obj/Release/Views/Collections/MSSQL/MSSQLServerSampleView.g.vb
BYTES.NET.SAMPLE/obj/Release/Views/Collections/MSSQL/MSSQLServerSampleView.g.i.vb
BYTES.NET.SAMPLE/obj/Release/Views/Collections/MSSQL/MSSQLServerSampleView.baml
BYTES.NET.SAMPLE/obj/Release/Views/Collections/MSAccess/MSAccessSampleView.g.vb
BYTES.NET.SAMPLE/obj/Debug/Views/Collections/MSAccess/MSAccessSampleView.g.i.vb
Extensions/BYTES.NET.Logging/obj/
Extensions/BYTES.NET.Logging/bin/
packages/
BYTES.NET/obj/
BYTES.NET/bin/
BYTES.NET.TEST/obj/
BYTES.NET.TEST/bin/
.vs/
