src-1.x/BYTES.NET.SAMPLE/bin/
src-1.x/BYTES.NET.SAMPLE/obj/
src-1.x/Extensions/BYTES.NET.Logging/obj/
src-1.x/Extensions/BYTES.NET.Logging/bin/
src-1.x/packages/
src-1.x/BYTES.NET/obj/
src-1.x/BYTES.NET/bin/
src-1.x/BYTES.NET.TEST/obj/
src-1.x/BYTES.NET.TEST/bin/
src-1.x/.vs/
src/.vs/
src/BYTES.NET.Test/bin/
src/BYTES.NET.Test/obj/
src/BYTES.NET/bin/
src/BYTES.NET/obj/
src/BYTES.NET/.vs/
src/TestResults
src/nuget.config
test/
packages/
src/Extensions/BYTES.NET.MS/bin/
src/Extensions/BYTES.NET.MS/obj/
src/Docu/BYTES.NET.Docu.App.NETFULL/bin/
src/Docu/BYTES.NET.Docu.App.NETFULL/obj/
src/Docu/BYTES.NET.Docu/bin/
src/Docu/BYTES.NET.Docu/obj/
