src-1.x/BYTES.NET.SAMPLE/bin/
src-1.x/BYTES.NET.SAMPLE/obj/
src-1.x/Extensions/BYTES.NET.Logging/obj/
src-1.x/Extensions/BYTES.NET.Logging/bin/
src-1.x/packages/
src-1.x/BYTES.NET/obj/
src-1.x/BYTES.NET/bin/
src-1.x/BYTES.NET.TEST/obj/
src-1.x/BYTES.NET.TEST/bin/
src-1.x/.vs/
src/.vs/
src/BYTES.NET.Test/bin/
src/BYTES.NET.Test/obj/
src/BYTES.NET/bin/
src/BYTES.NET/obj/
src/BYTES.NET/.vs/
src/TestResults
src/nuget.config
test/
packages/
src/Extensions/BYTES.NET.MS/bin/
src/Extensions/BYTES.NET.MS/obj/
src/Docu/BYTES.NET.Docu.App.NETFULL/bin/
src/Docu/BYTES.NET.Docu.App.NETFULL/obj/
src/Docu/BYTES.NET.Docu/bin/
src/Docu/BYTES.NET.Docu/obj/
src/Extensions/BYTES.NET.AOP/bin/
src/Extensions/BYTES.NET.AOP/obj/
src-2023/.vs/
src-2023/BYTES.NET.WPF/bin/
src-2023/BYTES.NET.WPF/obj/
src-2023/BYTES.NET/.vs/
src-2023/BYTES.NET/bin/
src-2023/BYTES.NET/obj/
src-2023/Tests & References/BYTES.NET.WPF.App/bin/
src-2023/Tests & References/BYTES.NET.WPF.App/obj/
src-2023/NuGet.config
src-2023/BYTES.NET.Extensibility/bin/
src-2023/BYTES.NET.Extensibility/obj/
src-2023/Tests & References/BYTES.NET.Tests/bin/
src-2023/Tests & References/BYTES.NET.Tests/obj/
src-2023/BYTES.NET.Windows/bin/
src-2023/BYTES.NET.Windows/obj/
src-2023/BYTES.NET (Core)/BYTES.NET.Tests/bin/
src-2023/BYTES.NET (Core)/BYTES.NET.Tests/obj/
src-2023/BYTES.NET (Core)/BYTES.NET/bin/
src-2023/BYTES.NET (Core)/BYTES.NET/obj/
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility.Tests/bin/
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility.Tests/obj/
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/obj/
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/BYTES.NET.Extensibility.1.0.0-beta.1.nupkg
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net10.0/BYTES.NET.dll
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net10.0/BYTES.NET.Extensibility.deps.json
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net10.0/BYTES.NET.Extensibility.dll
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net10.0/BYTES.NET.Extensibility.pdb
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net10.0/BYTES.NET.Extensibility.xml
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net10.0/BYTES.NET.pdb
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net10.0/BYTES.NET.xml
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net10.0-windows/BYTES.NET.dll
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net10.0-windows/BYTES.NET.Extensibility.deps.json
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net10.0-windows/BYTES.NET.Extensibility.dll
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net10.0-windows/BYTES.NET.Extensibility.pdb
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net10.0-windows/BYTES.NET.Extensibility.xml
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net10.0-windows/BYTES.NET.pdb
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net10.0-windows/BYTES.NET.xml
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net48/BYTES.NET.dll
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net48/BYTES.NET.Extensibility.dll
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net48/BYTES.NET.Extensibility.pdb
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net48/BYTES.NET.Extensibility.xml
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net48/BYTES.NET.pdb
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net48/BYTES.NET.xml
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net48/System.Buffers.dll
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net48/System.CodeDom.dll
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net48/System.Memory.dll
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net48/System.Numerics.Vectors.dll
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net48/System.Runtime.CompilerServices.Unsafe.dll
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net6.0/BYTES.NET.dll
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net6.0/BYTES.NET.Extensibility.deps.json
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net6.0/BYTES.NET.Extensibility.dll
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net6.0/BYTES.NET.Extensibility.pdb
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net6.0/BYTES.NET.Extensibility.xml
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net6.0/BYTES.NET.pdb
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net6.0/BYTES.NET.xml
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net6.0-windows/BYTES.NET.dll
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net6.0-windows/BYTES.NET.Extensibility.deps.json
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net6.0-windows/BYTES.NET.Extensibility.dll
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net6.0-windows/BYTES.NET.Extensibility.pdb
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net6.0-windows/BYTES.NET.Extensibility.xml
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net6.0-windows/BYTES.NET.pdb
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net6.0-windows/BYTES.NET.xml
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net8.0/BYTES.NET.dll
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net8.0/BYTES.NET.Extensibility.deps.json
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net8.0/BYTES.NET.Extensibility.dll
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net8.0/BYTES.NET.Extensibility.pdb
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net8.0/BYTES.NET.Extensibility.xml
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net8.0/BYTES.NET.pdb
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net8.0/BYTES.NET.xml
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net8.0-windows/BYTES.NET.dll
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net8.0-windows/BYTES.NET.Extensibility.deps.json
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net8.0-windows/BYTES.NET.Extensibility.dll
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net8.0-windows/BYTES.NET.Extensibility.pdb
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net8.0-windows/BYTES.NET.Extensibility.xml
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net8.0-windows/BYTES.NET.pdb
src-2023/BYTES.NET.Extensibility/BYTES.NET.Extensibility/bin/Debug/net8.0-windows/BYTES.NET.xml
