<?xml version="1.0" encoding="utf-8"?>
<!-- see details at 'https://www.wearecogworks.com/blog/nuget-with-github-packages-tutorial/' -->
<configuration>
	<!-- set a local packages directory; see also 'https://siderite.dev/blog/setting-nuget-package-folder-location.html/#at2169015847' -->
	<config>
	    <add key="repositoryPath" value="./../packages" />
		<add key="globalPackagesFolder" value="./../packages" />
	</config>
	<settings>
		<repositoryPath>./../packages</repositoryPath>
	</settings>
	<!-- add github as package source -->
	<packageSources>
		<clear />
		<add key="github" value="https://nuget.pkg.github.com/hauptstadtbytes/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="hauptstadtbytes" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
</configuration>